@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 20px;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}

section{
    height: 500px;
    padding-bottom: 200px;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.second-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.second-section img{
    width: 100%;
}

.second-button{
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
}

.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.single-ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
}

/* .experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
} */

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}

.exp h2{
    /* margin-top: -145px; */
    margin-left: 16px;
    margin-bottom: 80px;
    padding-top: 70px;
    
    background: -webkit-linear-gradient(45deg, white 6%, tomato 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.exp{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    height: 220px;
}